@{
    ViewBag.Title = "Книга не найдена";
}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Сожалеем, что так вышло...</h1>
        <hr>
        <p>К сожалению, данная книга не найдена. Но у нас есть множество других интересных книг.</p>
        <p><a class="btn btn-primary btn-lg" href=@Url.Action("List", "Book") role="button">Вернуться на главную &raquo;</a></p>
    </div>
</div>