@{
    ViewBag.Title = "Я-автор";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Написали книгу?</h1>
        <hr />
        <p class="lead">
            Нас часто спрашивают: "я пишу книги и хотел бы продавать их через ваш магазин, на вашем сайте. Как мне это сделать?"<br />
            Это совсем несложно.
            @if (User.Identity.IsAuthenticated)
            {
                <a>Зарегистрируйтесь</a>
            }
            else
            {
                <a href="@Url.Action("Register","Auth")">Зарегистрируйтесь</a>
            }
            и далее следуйте инструкции.
        </p>
    </div>
</div>