@{
    ViewBag.Title = "Сотрудничество";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Есть интересные предложения?</h1>
        <hr />
        <p class="lead">
            Мы всегда открыты новым идеям. Вы хотите открыть свой книжный магазин, рекламировать свои книги, издать книгу?
            Мы с радостью поможем! Обращайтесь.
        </p>
    </div>
</div>