@{
    ViewBag.Title = "Новости";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Work in progress...</h1>
        <hr />
        <p class="lead">
            Information will be updated.
        </p>
    </div>
</div>