@{
    ViewBag.Title = "Книги оптом";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Вы хотите сделать крупный заказ?</h1>
        <hr />
        <p class="lead">
            В этом случае мы c радостью вам поможем, пишите.<br />
            Перед тем, как обратиться к нам, вам нужно будет @if (User.Identity.IsAuthenticated)
            {
                <a>зарегистрироваться.</a>
            }
            else
            {
                <a href="@Url.Action("Register","Auth")">зарегистрироваться.</a>
            }
            Внимательно ознакомьтесь с условиями работы.
            Заказы в оптовом отделе обрабатываются вручную, поэтому мы предоставляем доступ только в двух случаях:
            <ul>
                <li>если единичный заказ больше 30000 рублей или</li>
                <li>вы планируете постоянную работу с нами</li>
            </ul>
        </p>
        <p class="lead">
            Во втором случае заказы принимаются только от юридических лиц и предпринимателей - книготорговых предприятий и организаций, торгующих аудио и видеопродукцией.
        </p>
    </div>
</div>