.navbar-right {
    float: right !important;
    margin-right: 15px;
    margin-left: 15px;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: ghostwhite;
    padding: 20px;
    position: relative;
    transition: all .2s ease;
}

    .nav-link:before {
        content: '';
        position: absolute;
        border: 10px solid ghostwhite;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        left: calc(50% - 8px);
        transition: all .2s ease;
        bottom: -5px;
        opacity: 0;
    }

    .nav-link:hover {
        color: ghostwhite;
        text-shadow: 0 0 1px ghostwhite;
    }

        .nav-link:hover:before {
            bottom: 0;
            opacity: 1;
        }

@media all and (max-width: 800px) {
    .nav-item .nav-link {
        padding: 1em;
        position: relative;
    }

        .nav-item .nav-link::before {
            content: '';
            left: 0;
            top: 1em;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px;
            border-color: transparent transparent transparent ghostwhite;
            position: absolute;
        }

    .nav-item:hover .nav-link {
        color: ghostwhite;
    }

        .nav-item:hover .nav-link::before {
            border-left-color: ghostwhite;
        }

    .nav.navbar .dropdown:hover > .dropdown-menu {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}
