@model BookStore.Domain.Entities.User
@{
    ViewBag.Title = "Изменение пароля";
}
<div class="panel" style="width:400px">
    <div class="panel-heading">
        <h3>Изменение пароля</h3>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @using (Html.BeginForm("EditPassword", "Account",
        FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.UserId)
            <label>Текущий пароль:</label>
            <input class="form-control" id="oldPass" name="oldPass" type="password" style="width:300px">
            <label>Новый пароль:</label>
            <input class="form-control" id="newPass" name="newPass" type="password" style="width:300px">
        </div>
        <div class="panel-footer" style="text-align:center">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить", "Index", null, new { @class = "btn btn-danger", @style = "margin-left:40px" })
        </div>
    }
</div>