@model BookStore.Domain.Entities.User
@{
    ViewBag.Title = "Изменение пароля";
}
<link href="~/Content/BackgroundFormStyles.css" rel="stylesheet" />
<div class="panel">
    <div class="panel-heading">
        <h3>Изменение пароля</h3>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @using (Html.BeginForm("EditPassword", "Account",
        FormMethod.Post))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.UserId)
            <label>Текущий пароль:</label>
            <input class="form-control" id="oldPass" name="oldPass" type="password">
            <label>Новый пароль:</label>
            <input class="form-control" id="newPass" name="newPass" type="password">
        </div>
        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>